{%extends "base.html"%}
{%block content%}
<h1>Contatti</h1>
  <p class="lead">   Telefono: 0810000000</p> 
  <p class="lead"> Fax: 03123120312</p>
   <p class="lead">e-mail: admin@autoscuola.it</p>
<p class="lead">Indirizzo: Via Roma 12,Napoli(NA)</p>
   <p class="lead"> Orari di apertura </p>
   <p class="lead">    lunedì-venerdì dalle 9:30 alle 13:30 e dalle 15:00 alle 21:00</p>
   <p class="lead">    sabato dalle 9:30 alle 13:30</p>

   <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.844483468679!2d14.335848015409956!3d40.87528697931455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133ba88937e63dc5%3A0xab1c6c11ae7cd988!2sVia%20Roma%2C%20Napoli%20NA!5e0!3m2!1sit!2sit!4v1628440793445!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
   
{%endblock%}